#meaning {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#meaning p {
    text-align: justify;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    transition: box-shadow 0.3s ease-in-out;
}
input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}
#top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 10px;
}
button {
    padding: 10px 20px;
    background-color: #20c997;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #17a2b8;
}
body {
    background-color: #e7e3e33e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
